.seccion-new-post {
  flex-direction: row;
  height: 100%;
  display: flex;
}

.seccion-avatar {
  align-content: start;
  margin-right: 8px;
  flex-direction: column;
  padding-top: 12px;
  width: 40px;
  height: 104px;
}

.seccion-post {
  align-items: stretch;
  width: 100%;
  flex-direction: column;

}

.seccion-placeholder {

}

.seccion-botones {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.seccion-adjuntos {

}

.seccion-button {

}