.seccion-new-post {
  flex-direction: row;
  height: 100%;
  display: flex;
}

.seccion-avatar {
  align-content: start;
  margin-right: 8px;
  flex-direction: column;
  padding-top: 12px;
  width: 40px;
  height: 104px;
}

.seccion-post {

}

.seccion-placeholder {

}

.seccion-botones {

}

.seccion-adjuntos {

}

.seccion-button {

}