/*.siderbar {
  align-items: flex-end;
  color-scheme: dark;
  text-decoration: none;
  width: 275px;
  height: 100vh;
}*/
.x-logo {
  border-radius: 50%;
  cursor: pointer;
  width: max-content;
  &:hover{
    background-color:  rgb( 255, 255, 255, 0.1);
  }
}

.userprofile {
  margin: 12px 0;
  align-items: center;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  &:hover{
    background-color: rgb( 255, 255, 255, 0.1);
  }
}
.userprofile-avatar {
  width: 20%;
  border-radius: 50%;
}
.userprofile-username {
  justify-items: start;
  width: 58%;
}

.userprofile-icono {
  width: 16%;
}
