/*.siderbar {
  width: 100%;
}*/
.x-logo {
  border-radius: 50%;
  cursor: pointer;
  width: max-content;
  max-height: 30px;
  &:hover{
    background-color:  rgb( 255, 255, 255, 0.1);
  }
}

.lista-elemetos {
  padding: 2px 0 4px 0 ;
}

.userprofile {
  margin: 12px 0;
  align-items: center;
  align-content: end;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  &:hover{
    background-color: rgb( 255, 255, 255, 0.1);
  }
}
.userprofile-avatar {
  width: 20%;
  border-radius: 50%;
}
.userprofile-username {
  justify-items: start;
  width: 58%;
}

.userprofile-icono {
  width: 16%;
}
